@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "W95A";
  src: url("./assets/fonts/w95fa.woff2") format("woff2"),
    url("./assets/fonts/w95fa.woff") format("woff"),
    url("./assets/fonts/W95FA.otf") format("otf");
}

body {
  margin: 0;
  font-family: "W95A", monospace;
  font-size: 18px;
}

::selection {
  color: white;
  background: #3169c6;
}

.btn {
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #f0f0f0,
    inset -4px -4px 0px #7e7e7e, inset 4px 4px 0px #b1b1b1;
  cursor: default;
}

.btn:active {
  background: #e3e3e3;
  box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #f0f0f0,
    inset 4px 4px 0px #7e7e7e, inset -4px -4px 0px #b1b1b1;
}

.clock {
  box-shadow: inset -2px -2px 0px #f0f0f0, inset 2px 2px 0px #7e7e7e;
}

.start {
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #f0f0f0,
    inset -4px -4px 0px #7e7e7e, inset 4px 4px 0px #b1b1b1;
}

.window {
  background: #c3c3c3;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #f0f0f0,
    inset -4px -4px 0px #7e7e7e, inset 4px 4px 0px #b1b1b1;
}

.window__inner {
  background: #ffffff;
  box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #f0f0f0,
    inset 4px 4px 0px #7e7e7e;
}

.window__bottom {
  background: #c3c3c3;
  box-shadow: inset -2px -2px 0px #f0f0f0, inset 2px 2px 0px #7e7e7e;
}

.window--max {
  width: 100% !important;
  height: calc(100% - 61px) !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 63px !important;
}

.address {
  background: #ffffff;
  box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #f0f0f0,
    inset 4px 4px 0px #7e7e7e;
}
